# Question 1

**Question 1**

Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
number_list = []
for i in range(2000, 3200):
    if i % 7 ==0 and i % 5 != 0 :
        number_list.append(i)

In [4]:
number_list
string = ','.join(map(str, number_list))

In [6]:
string

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

# Question 2

Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [18]:
def factorial(n):
    if n == 0 : 
        return 1
    else:
        return  n * factorial (n-1)
    
def question2(n_list):
    result = []
    for n in n_list :
        result.append(factorial(n))
    return result


print(','.join(map(str, question2([3,4,5]))))

6,24,120

In [31]:
n_list = [3,4,5]
output_list = []

for i in n_list : 
    factorial =1 
    for i in range(2,i+1) : 
        factorial *=i  
    output_list.append(factorial)
output_list

print(','.join(map(str, output_list)))

6,24,120

# Question 3

Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [44]:
given_numbers = [1,2,3] 
dict(((i, i*i) for i in given_numbers))  #베낀거

result = {}
for i in given_numbers:
    result[i] = i * i
print(result) #현실가능한.....

{1: 1, 2: 4, 3: 9}

In [46]:
given_numbers = [1,2,3] 
result = {}
for i in given_numbers:
    result[i] = i * i
print(result) #현실가능한.....

{1: 1, 2: 4, 3: 9}

# Question 4

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [56]:

values= input("Input some comma seprated numbers : ")
result_list = values.split(",")
result_tuple = tuple(result_list)

print(result_list)
print(result_tuple)

Input some comma seprated numbers : 1,2,3
['1', '2', '3']
('1', '2', '3')

# Question 5

Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

getString to get a string from console input 

printString to print the string in upper case

In [87]:
class question5:
    def __init__(self):
        self.result = ""
    def getString(self):
        self.result = input("입력하세요 : ")
    def printString(self):
        return self.result.upper()

In [90]:
test = question5()

In [85]:
test.getString()

입력하세요 : too difficult

In [86]:
test.printString()

'TOO DIFFICULT'

# Question 6

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [ ]:
import math

C = 50
H = 30


def formula (D):
    return int(math.sqrt(2 * C * D / H ))

def get_numbers():
    values = input("Input some comma seprated numbers : ")
    return values
    
def get_list_from_values(values):
    return values.split(",")

def get_answer (value_list):
    result =[]
    for i in value_list :
        result.append(formula(int(i)))
        print (formula(int(i)))
    return result

In [134]:
get_answer(get_list_from_values(get_numbers()))

Input some comma seprated numbers : 100, 150, 180
100
150
180

[18, 22, 24]

In [143]:
import math

C = 50
H = 30


def formula (D):
    return int(math.sqrt(2 * C * D / H ))

def main():
    values = input("Input some comma seprated numbers : ")
    result = list(map(lambda i: formula(int(i)), values.split(",")))
    print(result)
    
main()

Input some comma seprated numbers : 1,2,3
[1, 2, 3]

# Question 7

Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
row_num = int(input("Input number of rows: "))

In [3]:
col_num = int(input("Input number of columns: "))

Input number of columns: 3,5

ValueError: invalid literal for int() with base 10: '3,5'

In [5]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

Input number of rows: 3
Input number of columns: 5

In [6]:
multi_list

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [7]:
for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col] = row*col

In [8]:
a = [0, [0, 1, 2], 2]
a[1][1]

1

# Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [26]:
list1 = input("Input number of rows: ")
result_list = list1.split(",")
list2 = sorted(result_list, key = str.lower)
print(list2)

Input number of rows: without,hello,bag,world
['bag', 'hello', 'without', 'world ']

# Question 9
Level 2

Question: 
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [31]:
list1 = input("Input number of rows: ")
input_list1 = list1.split(",")
result = list(map(lambda x:x.upper(),input_list1))
print(result)

Input number of rows: Hello world Practice makes perfect
['HELLO WORLD PRACTICE MAKES PERFECT ']

# Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [42]:
list1 = input("Input number of rows: ")
input_list1 = list1.split(" ")
input_list2 = list(set(input_list1))
result = sorted(input_list2, key=str.lower)
print(result)

Input number of rows: hello world and practice makes perfect and hello world again T
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'T', 'world']

# Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

In [72]:
get_numbers = input("Input a binary number: ")
number_list = get_numbers.split(",")

result_list = []

for b_num in number_list:
    
    value = 0
    b_num_list=list(b_num)
    for i in range(len(b_num)):
        digit = b_num_list.pop()
        if digit == '1':
            value = value + pow (2, i)
    if value % 5 == 0 :
        
        result_list.append(b_num)
        
print(','.join(result_list))

Input a binary number: 0100,0011,1010,1001
1010

# Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [28]:
values = []
for num in range(1000,3000):
    s = str(num)
    if (int(s[0]) % 2 == 0) & (int(s[1]) % 2 == 0)  &  (int(s[2]) % 2 == 0) & (int(s[3]) % 2 == 0) :
        values.append(s)
        
print(','.join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

## Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [56]:
get_values = input("Input: ")

Input: hello world! 123

In [57]:
get_values

'hello world! 123'

In [103]:
get_values = input("Input: ")
num_isalpha = 0
num_isdigit = 0

for i in range(len(get_values)):
    if get_values[i].isdigit() == True :
        num_isdigit += 1
    elif get_values[i].isalpha() == True :
        num_isalpha += 1
        
print('LETTERS' + str(num_isalpha) +' DIGITS '+ str(num_isdigit))

Input: hello world! 123
LETTERS10 DIGITS 3

## Question 14
Level 2

Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [90]:
get_values = input("Input: ")
num_isupper = 0
num_islower = 0

for i in range(len(get_values)):
    if get_values[i].isupper() == True :
        num_isupper += 1
        print(get_values[i].isupper() )
    elif get_values[i].islower() == True :
        num_islower += 1


        
print('UPPER CASE' + str(num_isupper) +' LOWER CASE '+ str(num_islower))

Input: Hello world!
True
UPPER CASE1 LOWER CASE 9

## Question 15
Level 2

Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [119]:
a = int(input("Input: "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print ( n1 + n2 + n3 + n4)

Input: 9
11106

In [36]:
a = 9

def cal(a, digit):
    result = 0
    for i in range(digit+1):
        if i == 0:
            result += a
        else:
            result += 10**i * a
    return result

result = 0
for i in range(4) : 
    result += cal(a, i) # 9, 99, 999, 9999

print(result)

11106

## Question 16
Level 2

Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

In [120]:
get_numbers = input("Input: ")
number_list = get_numbers.split(",")

Input: 1,2,3,4,5,6,7,8,9

In [121]:
number_list

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [131]:
odd_list = []
for i in number_list:
    if int(i) % 2 != 0:
        odd_list.append(i)

In [132]:
odd_list

['1', '3', '5', '7', '9']

In [134]:
odd_list = [i for i in get_numbers.split(',') if (int(i) % 2 != 0)]

In [135]:
odd_list

['1', '3', '5', '7', '9']

## Question 17
Level 2

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200

D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [8]:
get_input = input()

D 300 D 300 W 200 D 100

In [9]:
splited_input = get_input.split(" ")

In [10]:
splited_input

['D', '300', 'D', '300', 'W', '200', 'D', '100']

In [14]:
balance = 0
gb = None
for i in splited_input:
    if i == 'D' :
        gb = 'D'
    elif i == 'W':
        gb = 'W'
    else :
        if gb == 'D':
            balance += int(i) 
        elif gb == 'W':
            balance -= int(i) 
print(balance)

500

## Question 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [248]:
get_password = input()
get_passwords = get_password.split(",")


result = []
for password in get_passwords: 
    if len(password) < 6 or len(password) >12 :
        pass
    else :
        num_isupper = 0
        num_islower = 0
        num_isdigit = 0
        num_isspecial = 0
        for i in range (len(password)) :
            if password[i].isdigit():
                num_isdigit += 1
            elif password[i].isupper():
                num_isupper += 1
            elif password[i].islower():
                num_islower += 1
            elif password[i] in ['$','#','@']:
                num_isspecial += 1
        if (num_isspecial  > 0) & ( num_isupper > 0) & ( num_isdigit > 0 ) & (num_islower > 0) :
            result.append(password)

            
result

IndentationError: unexpected indent (<ipython-input-248-377a03c06093>, line 4)

## Question 19
Level 3

Question:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [254]:
get_input = input()

Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85

In [255]:
# 함수형 스타일: map, filter, list comprehension 등의 문법을 사용한 코딩 스타일
tuples_input = [tuple(map(str, sub.split(','))) for sub in get_input.split(' ')] 

# 절차형 스타일 -> C, C++, Java
# tuples_input = []
# for sub in get_input.split(' '):
#     tuple_result = ()
#     for subsub in sub.split(','):
#         tuple_result.append(str(subsub))
#     tuples_input.append(tuple_result)

In [259]:
#이걸로 해볼라고 했는데 못하겠음
def sort_key(tuple_input):
    print("key", tuple_input[0] + tuple_input[1] + tuple_input[2])
    return tuple_input[0] + tuple_input[1] + tuple_input[2]
    
tuples_input.sort(key = sort_key)
tuples_input

key John2090
key Jony1791
key Jony1793
key Json2185
key Tom1980

[('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85'),
 ('Tom', '19', '80')]

In [266]:
from operator import itemgetter

tuples_input.sort(key=itemgetter(0, 1, 2))

In [267]:
tuples_input

[('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85'),
 ('Tom', '19', '80')]

## Question 20
Level 3

Question:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [250]:
## 잘 모르겠어영 ㅠ_ㅠ

In [251]:
class iterator (object):
    def __init__(self, n):
        self.n=n
    def divBySeven(self):
        for i in range (0, self.n):
            if i % 7 == 0 :
                

                
for num in iterator(100).divBySeven():
    print(num)

IndentationError: expected an indented block (<ipython-input-251-46f54553aa2d>, line 10)

In [ ]:
def putNumbers(n):
    i = 0
    while i<n:
        j=i
        i=i+1
        if j%7==0:
            yield j

putNumbers(100)

## Question 21
Level 3

Question ~₩


A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

In [ ]:
get_input = input()

In [ ]:
get_input_splited=get_input.split(' ')

In [ ]:
get_input_splited

In [ ]:
import math

x, y = 0, 0

gb = None

for i in get_input_splited:
    if i == 'UP' :
        gb = 'U'
    elif i == 'DOWN':
        gb = 'D'
    elif i == 'LEFT':
        gb = 'L'
    elif i == 'RIGHT':
        gb = 'R'
    else :
        if gb == 'U':
            y += int(i) 
        elif gb == 'D':
            y -= int(i) 
        elif gb == 'L':
            x -= int(i) 
        elif gb == 'R':
            x += int(i) 
print(x)
print(y)

c = math.sqrt(x**2 + y**2)

In [ ]:
int(c)

# Question 22
Level 3

Question:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically.
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:

2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2

to:1

In [268]:
get_input = input()

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3

In [269]:
get_splited_input = get_input.split(' ')

In [271]:
get_splited_input.sort()

['2',
 '2',
 '3',
 '3?',
 'New',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Read',
 'and',
 'between',
 'choosing',
 'or',
 'or',
 'to']

In [273]:
freq_dict = {}

for i in get_splited_input:
    if i not in freq_dict:
        freq_dict[i] = 1
    else:
        freq_dict[i] += 1

freq_dict

{'2': 2,
 '3': 1,
 '3?': 1,
 'New': 1,
 'Python': 5,
 'Read': 1,
 'and': 1,
 'between': 1,
 'choosing': 1,
 'or': 2,
 'to': 1}

In [ ]:
import operator

text_line = input("Type in: ")

freq_dict = {}

for i in text_line.split(' '):
    if i.isalpha():
        if i not in freq_dict:
            freq_dict[i] = 1
        elif i in freq_dict:
            freq_dict[i] = freq_dict[i] + 1
    else:
        pass

In [ ]:
freq_dict

In [ ]:
freq_dict['Python']

# Question 23
level 1

Question:
Write a method which can calculate square value of number

In [ ]:
import math

In [ ]:
number = int (input ("Enter an integer number: "))

In [ ]:
square = int(math.pow (number, 2))

In [ ]:
print('Square of {0} is {1}'.format (number, square))

# Question 24
Level 1

Question:
Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.
Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()
And add document for your own function

In [ ]:
print(abs.__doc__)

print(int.__doc__)

In [ ]:
print(input.__doc__)

# Question 25
Level 1

Question:
Define a class, which have a class parameter and have a same instance parameter.

In [303]:
class testclass():
    result = 0
    
    def __init__(self):
        self.result = 100

In [304]:
a = testclass()

In [305]:
a.result

100

In [306]:
testclass.result

0

In [149]:
# 변수와 함수
result = 0

def add():    
    pass

def subtract():
    pass

class Calculator:
    # 클래스 변수를 정의
    result = 100
    max_result = 0

    def __init__(self):
        # 인스턴스 변수를 정의
        self.result = 0

    # 인스턴스 메소드
    def add(self, arg):
        self.result += arg
    def subtract(self, arg):
        self.result -= arg

# 인스턴스 개념
personal_account = Calculator()
print(personal_account.result)
personal_account.add(3) 
print(personal_account.result)
personal_account.subtract(3)
print(personal_account.result)


your_account = Calculator()
print(your_account.result)

print(Calculator.max_result)
print(personal_account.max_result)
print(your_account.max_result)

Calculator.max_result = 200
print(Calculator.max_result)
print(personal_account.max_result)
print(your_account.max_result)

0
3
0
0
0
0
0
200
200
200

# Question 26  
Define a function which can compute the sum of two numbers.

In [307]:
def sum_of_two_numbers (a, b):
    return a + b

In [308]:
sum_of_two_numbers(1,2)

3

# Question 27
Define a function that can convert a integer into a string and print it in console.

In [155]:
def integer_to_str (a):
    result = str(a)
    print(result)
    return result

In [156]:
a = integer_to_str(3)
print(a)

3
3

# Question 28

Define a function that can convert a integer into a string and print it in console.

In [317]:
def integer_to_str (a):
    return print(str(a))

# Question 29

Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [322]:
def integer_to_str_sum (a, b):
    c = a + b
    return print(str(c))

In [323]:
integer_to_str_sum(1, 2)

3

# Question 30

Define a function that can accept two strings as input and concatenate them and then print it in console.

In [157]:
def concatenate_string (a, b):
    str_list = [a, b]
    return ''.join(str_list)
#     return a + b

In [332]:
concatenate_string('hello', 'world')

'helloworld'

# Question 31

Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [345]:
def str_with_max_length (a, b):
    dict_1 = {}
    dict_1[a] = len(a)
    dict_1[b] = len(b)
    search_value = max(len(a), len(b))
    for a, b in dict_1.items():   
        if b == search_value:
            return_value = a
    return a

def str_with_max_length (a, b):
    search_value = max(len(a), len(b))
    if b == search_value:
        return_value = a
    return a

In [352]:
def printValue(s1,s2):
    len1 = len(s1)
    len2 = len(s2)
    if len1>len2:
        print (s1)
    elif len2>len1:
        print (s2)
    else:
        print (s1)
        print (s2)

printValue("one","three")

# 단 두개의 input 만 가능

three

# Question 32
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [1]:
def even_num_identifier (num):
    if num % 2 == 0 :
        print("It is an even number")
    else :
        print("It is an odd number")

In [2]:
even_num_identifier (2)

It is an even number

# Question 33

Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [10]:
def a ():
    b = {}
    for i in range(1,4):
        b[i] = i**2 
    print(b)

In [11]:
a()

{1: 1, 2: 4, 3: 9}

## Question 34

Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [13]:
def a ():
    b = {}
    for i in range (1,21):
        b[i] = i**2
    print(b)

In [14]:
a()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

## Question 35

Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [21]:
def a ():
    b = {}
    for i in range (1,21):
        b[i] = i**2
    values = list(b.values())
    print(values)

In [22]:
a()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

## Question 36

Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [23]:
def a ():
    b = {}
    for i in range (1,21):
        b[i] = i**2
    keys = list(b.keys())
    print(keys)
    
a()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## Question 37
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [25]:
def a ():
    b = [x**2 for x in range(1, 21) ]
    print(b)

In [26]:
a()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

## Question 38
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [6]:
def a ():
    b = [x**2 for x in range(1,21)]
    print(b[0:5])

In [7]:
a()

[1, 4, 9, 16, 25]

## Question 39

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [2]:
def a ():
    b = [x**2 for x in range(1,21)]
    print(b[0:5])

In [3]:
a()

[1, 4, 9, 16, 25]

# Question 40
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [7]:
def a ():
    b = [x**2 for x in range(1,21)]
    
    print(b[5:])

In [8]:
a()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 41
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [11]:
def a ():
    b = tuple([x**2 for x in range(1,21)])
    print(b)

In [12]:
a()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

# Question 42
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [158]:
a = (1,2,3,4,5,6,7,8,9,10)

In [160]:
tp1 = a[0:int(len(a) / 2)]
tp2 = a[int(len(a) / 2):len(a)]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Question 43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [168]:
a = (1,2,3,4,5,6,7,8,9,10)

In [162]:
b = list(a)

In [163]:
c = []
for i in b : 
    if i % 2 == 0 :
        c.append(i)

In [164]:
d = tuple(c)

In [165]:
d

(2, 4, 6, 8, 10)

In [169]:
# 한 줄로
tuple(filter(lambda x: x % 2 == 0, list(a)))

(2, 4, 6, 8, 10)

# Question 44
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

In [170]:
get_values = input("Input: ")

if get_values == "yes":
    print("Yes")
elif get_values == "YES":
    print("Yes")
elif get_values == "Yes":
    print("Yes")
else:
    print("No")
    
if get_values.lower() == "yes":
    print("Yes")
else:
    print("No")

Input: yes
Yes
Yes

# Question 45
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [66]:
a = [1,2,3,4,5,6,7,8,9,10]

In [109]:
def func(a):
    if a % 2 == 0:
        return True
    else:
        return False
    
#     return a % 2 == 0:

In [110]:
list(filter(func, a))
list(filter(lambda a: a % 2 == 0, a))
#filter(펑션자체, 리스트)

[2, 4, 6, 8, 10]

In [111]:
[ i for i in a if i % 2 == 0 ]

[2, 4, 6, 8, 10]

# Question 46
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [97]:
a =  [1,2,3,4,5,6,7,8,9,10]

In [106]:
def func(x):
    return x**2

In [107]:
b = list(map(func, a))

In [108]:
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Question 47
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [123]:
a =  [1,2,3,4,5,6,7,8,9,10]
def func1(a):
    if a % 2 == 0:
        return True
    else:
        return False
    
def func2(x):
    return x**2

In [134]:
b = list(map(func2, list(filter(func1, a))))

In [137]:
b = list(map(func2, filter(func1, a)))
#둘다 가능 

[ i**2 for i in a if i % 2 == 0 ]

# Question 48
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

In [142]:
def func(a):
    if a % 2 == 0:
        return True
    else:
        return False
    
list(filter(func, list(range(1,21))))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question 49
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

In [144]:
def func(x):
    return x**2

list(map(func, list(range(1,21))))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Question 50
Define a class named American which has a static method called printNationality.
anAmerican = American()
anAmerican.printNationality()
American.printNationality()

In [146]:
class American():
    @staticmethod
    def printNationality():
        print("America")

anAmerican = American()
anAmerican.printNationality()


American.printNationality()

America
America

# Question 51
Define a class named American and its subclass NewYorker.

In [182]:
class American():
    def foo(self):
        print("Foo")
    def printNationality(self):
        print("America")

class NewYorker(American):
    def printNationality(self):
        print("NewYork")

anAmerican = American()
aNewYorker = NewYorker()

anAmerican.printNationality()
aNewYorker.printNationality()
aNewYorker.foo()

America
NewYork
Foo

# Question 52
Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

In [187]:
class Circle():
    def __init__(self, r):
        self.radius = r
    def area(self):
        return self.radius**2*3.14

aCircle = Circle(2)
aCircle.area()

12.56

# Question 53
Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

In [188]:
class Rectangle():
    def __init__(self, l, w):
        self.length = l
        self.width = w
    def area(self):
        return self.length*self.width

aRectangle = Rectangle(3 , 4)
aRectangle.area()

12

# Question 54
Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [192]:
class Shape():
    def __init__(self):
        pass
    def area(self):
        return 0
    
class Square(Shape):
    def __init__(self, l = 0):
        self.length = l 
    def area(self):
        return self.length**2

In [193]:
aSquare = Square(3)
aSquare.area()

9

In [196]:
Square().area()

0

# Question 55
Please raise a RuntimeError exception.

In [197]:
raise RuntimeError('something wrong')

RuntimeError: something wrong

# Question 56
Write a function to compute 5/0 and use try/except to catch the exceptions.

In [201]:
def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError:
    print ("division by zero!")
except Exception:
    print ("Caught an Exception!")
finally :
    print ("In finally block for cleanup")

division by zero!
In finally block for cleanup

# Question 57
Define a custom exception class which takes a string message as attribute.

In [209]:
class MyError(Exception):
    def __init__(self, message):
        self.message = message

In [210]:
raise MyError("Error Message")

MyError: Error Message

# Question 58
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

Example:
If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john

In case of input data being supplied to the question, it should be assumed to be a console input.

In [213]:
import re
emailadress =  "john@google.com"
pattern = "(\w+)@\w+.com"
ans = re.findall(pattern, emailadress)
print(ans)

['john']

# Question 59
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Example:
If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

google

In case of input data being supplied to the question, it should be assumed to be a console input.
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

Example:
If the following words is given as input to the program:

2 cats and 3 dogs.

Then, the output of the program should be:

['2', '3']

In case of input data being supplied to the question, it should be assumed to be a console input.

In [327]:
import re
emailaddress = 'john@google.com'
pattern = "(\w+)@\w+.com"

In [328]:
ans = re.findall(pattern, emailaddress)

In [329]:
print(ans)

['john']

In [330]:
import re
emailaddress = '2 cats and 3 dogs.'
pattern = "\d+"
ans = re.findall(pattern, emailaddress)
print(ans)

['2', '3']

# Question 60
Print a unicode string "hello world".

In [336]:
unicodeString = u"hello world!"

In [338]:
print (unicodeString)

hello world!

# Question 61
Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

In [344]:
s = input()
u = s.encode("utf-8")
print(u)

dd
b'dd'

# Question 62
Write a special comment to indicate a Python source code file is in unicode.

In [345]:
# -*- coding: utf-8 -*-

# Question 63
Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

Example:
If the following n is given as input to the program:

5

Then, the output of the program should be:

3.55

In case of input data being supplied to the question, it should be assumed to be a console input.

In [356]:
n = int(input())
result = 0
for i in range (1, n+1) :
    result += (i / (i + 1))
    
print(round(result, 2))

5
3.55

# Question 64
Write a program to compute:

f(n)=f(n-1)+100 when n>0
and f(0)=1

with a given n input by console (n>0).

Example:
If the following n is given as input to the program:

5

Then, the output of the program should be:

500

In case of input data being supplied to the question, it should be assumed to be a console input.

In [358]:
def f(n) :
    if n == 0 :
        return 0 
    else :
        return f(n-1) + 100
    
n = int(input())

5

In [359]:
f(n)

500

# Question 65
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

13

In case of input data being supplied to the question, it should be assumed to be a console input.

In [360]:
def f(n) :
    if n ==0 :
        return 0 
    elif n == 1 :
        return 1
    else :
        return f(n-1) + f(n-2)
    
n = int(input())

7

In [361]:
f(n)

13

# Question 66
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

0,1,1,2,3,5,8,13

In [365]:
def f(n) :
    if n ==0 :
        return 0 
    elif n == 1 :
        return 1
    else :
        return f(n-1) + f(n-2)
    
n = int(input())

7

In [368]:
values = [ str(f(n))for n in range(0, n+1)]

In [369]:
print(",".join(values))

0,1,1,2,3,5,8,13

# Question 67
Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

Example:
If the following n is given as input to the program:

10

Then, the output of the program should be:

0,2,4,6,8,10

In [370]:
def EvenGenerator(n):
    i = 0
    while i <= n:
        if i % 2==0:
            yield i
        i += 1

In [373]:
n = int(input())
values = []
for i in EvenGenerator(n):
    values.append(str(i))

10

In [374]:
print(",".join(values))

0,2,4,6,8,10

In [ ]:
# Even generator 잘 모르겠는 부분 있음

In [379]:
def EvenGenerator(n):
    if n % 2 == 0:
        return n
    else :
        pass

In [382]:
values =  [ str(EvenGenerator(n)) for n in range(0,10) if n % 2 == 0  ]

In [383]:
values

['0', '2', '4', '6', '8']

# Question 68
Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

Example:
If the following n is given as input to the program:

100

Then, the output of the program should be:

0,35,70

In [400]:
def generator(n):
    i = 0
    while i <= n :
        if i %5 == 0 and i % 7 == 0:
            yield i 
        i += 1

In [394]:
def generate(n):
    for i in range(n+1):
        if i % 35 == 0:    # 5*7 = 35, if a number is divisible by a & b then it is also divisible by a*b
            yield i

In [385]:
n = int(input())

100

In [391]:
generator(100)

In [401]:
n = int(input())
values = []
resp = [str(i) for i in generator(n)]
print(",".join(resp))

100
0,35,70

In [395]:
n = int(input())
values = []
resp = [str(i) for i in generate(n)]
print(",".join(resp))

100
0,35,70

# Question 69
Please write assert statements to verify that every number in the list [2,4,6,8] is even.

In [403]:
li = [2,4,6,8]
for i in li:
    assert i%2 == 0, "{} is not an even number".format

In [ ]:
# 처음보는 문제ㅠㅠ

# Question 70
Please write a program which accepts basic mathematic expression from console and print the evaluation result.

Example:
If the following string is given as input to the program:

35+3

Then, the output of the program should be:

38

ㅡ

In [404]:
a = int(input())

35

In [405]:
b = int(input())

3

In [406]:
def plus(a, b):
    return a + b

In [407]:
print(plus(a, b))

38

In [409]:
expression = input()
ans = eval(expression)
print(ans)


# 이게 맞음

25+2
27

# Question 71
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

In [ ]:
import math
def bin_search(li, element):
    bottom  = 0 
     top = len(li)-1
    index = -1
    while top >= bottom and index == -1 : 
        mid = int(math.floor((top+bottom)/2.0))
        if li[mid]== element:
            inrd-

In [ ]:
## 이건 안풀어도 됨 ##

# Question 72
Please generate a random float where the value is between 10 and 100 using Python math module.

In [1]:
import math

In [2]:
import random

In [7]:
random.uniform(10,100)

AttributeError: 'builtin_function_or_method' object has no attribute 'uniform'

In [8]:
import numpy

random_float_number = numpy.random.uniform(10,100)

In [9]:
print("random float array in [10, 100] \n", random_float_number,"\n")

random float array in [10, 100]
 17.572930244611108

# Question 73
Please generate a random float where the value is between 5 and 95 using Python math module.

In [10]:
import math 
import random

In [11]:
random.uniform(5,95)

41.21071693482432

# Question 74
Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.

In [52]:
import random
list_1 = [x for x in range(0,11)  if x %2 ==0  ]
random.choice(list_1)

6

In [53]:
import random 
list2 = [i for i in range(0,11,2)]
print(random.choice(list2))

8

# Question 75
Please write a program to output a random number, which is divisible by 5 and 7, between 0 and 10 inclusive using random module and list comprehension.

In [50]:
import random 
list_1 = [ x for x in range(0,11) if x %  5  == 0 and x %7 ==0]

In [51]:
print(random.choice(list_1))

0

# Question 76
Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [56]:
import random
random.sample(range(101,201),5)

[142, 147, 149, 198, 192]

# Question 77
Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.

In [57]:
import random 
list_1 = [x for x in range(101,201) if x % 2 ==0 ]
random.sample(list_1, 5)

[180, 162, 186, 174, 118]

# Question 78
Please write a program to randomly generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000 inclusive.

In [58]:
import random
list_1 = [x for x in range(1, 1001) if x % 35 == 0 ]
random.sample(list_1, 5)

[910, 350, 665, 315, 770]

# Question 79
Please write a program to randomly print a integer number between 7 and 15 inclusive.

In [63]:
import random
print (random.randrange(7,16))

14

In [70]:
list1 = [x for x in range(0,4)]

In [71]:
list1

[0, 1, 2, 3]

In [1]:
list1 = list(range(0,4))

In [3]:
list1

[0, 1, 2, 3]

# Question 80
Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".

In [4]:
import zlib
import random
import string

In [5]:
data =  "hello world!hello world!hello world!hello world!"

In [7]:
len(data)

48

In [8]:
zdata = zlib.compress(bytearray(data, encoding='utf-8'), -1)

In [10]:
zdata_length = len(zdata)

In [11]:
zdata_length

23

In [12]:
zdata

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'

In [14]:
data2 = zlib.decompress(zdata).decode("utf-8")

In [15]:
data2

'hello world!hello world!hello world!hello world!'

# Question 81
Please write a program to print the running time of execution of "1+1" for 100 times.

In [16]:
from timeit import Timer

In [17]:
t = Timer("for i in range(100):1+1")

In [19]:
print (t.timeit())

1.5552908320000824

In [ ]:
## 잘 모르겠음

In [20]:
import datetime

In [21]:
before = datetime.datetime.now()
for i in range(100):
    x = 1 + 1 
after = datetime.datetime.now()
execution_time = after - before

In [22]:
print(execution_time.microseconds)

195

# Question 82
Please write a program to shuffle and print the list [3,6,7,8].

In [25]:
import random
list1 =  [3, 6, 7, 8]
random.shuffle(list1)

In [26]:
print(list1)

[6, 3, 7, 8]

In [27]:
# 순서가 중요하대 -> list

# Question 83
Please write a program to shuffle and print the list [3,6,7,8].

In [28]:
import random
list1 =  [3, 6, 7, 8]
random.shuffle(list1)
print(list1)

[6, 8, 3, 7]

# Question 84
Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [30]:
sub =  ["I", "You"]

In [56]:
sub =  ["I", "You"] 
verb =  ["Play", "Love"] 
obj =  ["Hockey","Football"]

In [57]:
random.choice(sub)

'I'

In [58]:
random.choice(sub)+ " " + random.choice(verb)+" " + random.choice(obj)

'You Love Football'

In [70]:
#다른 풀이. 잘 모르겠어유 .. 
sub =  ["I", "You"] 
verb = ["Play", "Love"] 
obj =  ["Hockey","Football"]

for i in sub :
    for j in verb:
        for k in obj:
            sentence =  i + " " + j + " " + k 
            print(sentence)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

# Question 85
Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

In [35]:
list1 = [5,6,77,45,22,12,24]

In [37]:
print([i for i in list1 if i % 2 != 0])

[5, 77, 45]

# Question 86
By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [39]:
list1 = [12,24,35,70,88,120,155]

In [40]:
print([i for i in list1 if i % 35 != 0])

[12, 24, 88, 120, 155]

# Question 87
By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [41]:
list1 = [12,24,35,70,88,120,155]

In [48]:
list1.pop(0)

12

In [50]:
list1.pop(1)

35

In [51]:
list1.pop(2)

88

In [52]:
list1.pop(3)

155

In [53]:
list1

[24, 70, 120]

In [72]:
names = ['철수', '영희', '영수']
index_names = enumerate(names)
print(index_names)

[(0, '철수'), (1, '영희'), (2, '영수')]

<enumerate object at 0x10e5786e0>

[(0, '철수'), (1, '영희'), (2, '영수')]

In [85]:
# enumerate
list1 = [12,24,35,70,88,120,155]

In [86]:
list2 = [item for i , item in enumerate(list1) if i % 2 == 0 ]

In [87]:
list2

[12, 35, 88, 155]

In [104]:
list1 = [12,24,35,70,88,120,155]
list2 = []
for i in range(len(list1)):
    if (i+1) % 2 != 0 :
        list2.append(list1[i])

In [105]:
list2

[12, 35, 88, 155]

# Question 88
By using list comprehension, please write a program generate a 358 3D array whose each element is 0.

In [ ]:
# 2Dim: 2X3
[
    [0, 0, 0],
    [0, 0, 0]
]

# 3Dim: 2X3X5
[
    [
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0]
    ],
    [
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0]
    ]
]

# 3Dim: 3X5X8

[
    [
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0]
    ],
    [
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0]
    ],
    [
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0]
    ]
    
]

In [106]:
list1 = []
for i in range(8):
    list1.append(0)

In [107]:
list1

[0, 0, 0, 0, 0, 0, 0, 0]

In [119]:
def func(x, y, z): 
    list2 = [[[ 0 for i in range(z)] for i in range(y)] for i in range(x)]
    return list2

In [120]:
func(3, 5, 8)

[[[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]]]

# Question 89
By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [123]:
list1 = [12,24,35,70,88,120,155]

In [124]:
list2 = []
for i, item in enumerate(list1) : 
    if i == 0 :
        pass
    else :
        list2.append(list1[i])

In [125]:
list2

[24, 35, 70, 88, 120, 155]

# Question 90
By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [127]:
list1 = [12,24,35,24,88,120,155]

In [128]:
list2 = [i for i in list1 if i != 24]

In [129]:
list2

[12, 35, 88, 120, 155]

# Question 91
With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [130]:
list1 = [1,3,6,78,35,55] 
list2 = [12,24,35,24,88,120,155]

In [134]:
list3 = []
for i in list1:
    for j in list2:
        if i == j :
            list3.append(i)

In [135]:
list3

[35]

# Question 92
With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [136]:
list1 = [12,24,35,24,88,120,155,88,120,155]
set1 = set(list1)

In [137]:
list2 = list(set1)

In [138]:
list2

[35, 12, 155, 24, 88, 120]

In [ ]:
# 다른풀이 (order reserved )

In [140]:
list1 = [12,24,35,24,88,120,155,88,120,155]
newlist = []
seen = set()
for i in list1 :
    if i not in seen :
        seen.add(i)
        newlist.append(i)

In [141]:
newlist

[12, 24, 35, 88, 120, 155]

# Question 93
Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [143]:
class Person():
    def getGender(self):
        return "Unknown"

class Male(Person):
    def getGender(self):
        return "Male"
    
class Female(Person):
    def getGender(self):
        return "Female"    
    
aMale = Male()
aFemale = Female()

print(aMale.getGender())

Male

In [ ]:
# CLASS 개념 다시

# Question 94
Please write a program which count and print the numbers of each character in a string input by console.

Example:
If the following string is given as input to the program:

abcdefgabc

Then, the output of the program should be:

a,2
c,2
b,2
e,1
d,1
g,1
f,1

In [145]:
string = input()

abcdefgabc

In [157]:
string_to_list = list(string)

In [158]:
string_to_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c']

In [161]:
seen = {}
for i in string_to_list:
    seen[i] = string_to_list.count(i)

In [162]:
seen

{'a': 2, 'b': 2, 'c': 2, 'd': 1, 'e': 1, 'f': 1, 'g': 1}

In [168]:
result = ''
for key in seen:
    result += key + ',' + str(seen[key]) + ' '
result

'a,2 b,2 c,2 d,1 e,1 f,1 g,1 '

# Question 95
Please write a program which accepts a string from console and print it in reverse order.

Example:
If the following string is given as input to the program:

rise to vote sir

Then, the output of the program should be:

ris etov ot esir

In [169]:
string = input()

rise to vote sir

In [178]:
str_to_list = list(string)

In [188]:
str_reverse = list(reversed(str_to_list))

In [191]:
print(''.join(str_reverse))

ris etov ot esir

# Question 96
Please write a program which accepts a string from console and print the characters that have even indexes.

Example:
If the following string is given as input to the program:

H1e2l3l4o5w6o7r8l9d

Then, the output of the program should be:

Helloworld

In [192]:
string = input()

H1e2l3l4o5w6o7r8l9d

In [193]:
string

'H1e2l3l4o5w6o7r8l9d'

In [195]:
s1 = [ string[i] for i in range(len(string)) if i % 2 == 0 ]

In [196]:
s1

['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [197]:
print(''.join(s1))

Helloworld

# Question 97
Please write a program which prints all permutations of [1,2,3]

In [198]:
a = [1,2,3]

In [202]:
from itertools import permutations
permu = permutations(a)

In [203]:
print(list(permu))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Question 98
Write a program to solve a classic ancient Chinese puzzle:
We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

In [215]:
def solve(h, l):
    for i in range(h+1):
        j = h - i 
        if 2 * i + 4 * j == l :
            return i, j

In [216]:
solve(35, 94)

(23, 12)