# Question 1

**Question 1**

Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
number_list = []
for i in range(2000, 3200):
    if i % 7 ==0 and i % 5 != 0 :
        number_list.append(i)

In [4]:
number_list
string = ','.join(map(str, number_list))

In [6]:
string

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

# Question 2

Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [18]:
def factorial(n):
    if n == 0 : 
        return 1
    else:
        return  n * factorial (n-1)
    
def question2(n_list):
    result = []
    for n in n_list :
        result.append(factorial(n))
    return result


print(','.join(map(str, question2([3,4,5]))))

6,24,120

In [31]:
n_list = [3,4,5]
output_list = []

for i in n_list : 
    factorial =1 
    for i in range(2,i+1) : 
        factorial *=i  
    output_list.append(factorial)
output_list

print(','.join(map(str, output_list)))

6,24,120

# Question 3

Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [38]:
given_numbers = [1,2,3] 
dict(((i, i*i) for i in given_numbers))

{1: 1, 2: 4, 3: 9}

# Question 4

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [56]:

values= input("Input some comma seprated numbers : ")
result_list = values.split(",")
result_tuple = tuple(result_list)

print(result_list)
print(result_tuple)

Input some comma seprated numbers : 1,2,3
['1', '2', '3']
('1', '2', '3')

# Question 5

Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

getString to get a string from console input 

printString to print the string in upper case

In [87]:
class question5:
    def __init__(self):
        self.result = ""
    def getString(self):
        self.result = input("입력하세요 : ")
    def printString(self):
        return self.result.upper()

In [90]:
test = question5()

In [85]:
test.getString()

입력하세요 : too difficult

In [86]:
test.printString()

'TOO DIFFICULT'

# Question 6

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [ ]:
import math

C = 50
H = 30


def formula (D):
    return int(math.sqrt(2 * C * D / H ))

def get_numbers():
    values = input("Input some comma seprated numbers : ")
    return values
    
def get_list_from_values(values):
    return values.split(",")

def get_answer (value_list):
    result =[]
    for i in value_list :
        result.append(formula(int(i)))
        print (formula(int(i)))
    return result

In [134]:
get_answer(get_list_from_values(get_numbers()))

Input some comma seprated numbers : 100, 150, 180
100
150
180

[18, 22, 24]

In [143]:
import math

C = 50
H = 30


def formula (D):
    return int(math.sqrt(2 * C * D / H ))

def main():
    values = input("Input some comma seprated numbers : ")
    result = list(map(lambda i: formula(int(i)), values.split(",")))
    print(result)
    
main()

Input some comma seprated numbers : 1,2,3
[1, 2, 3]